doctype html
html
  head
    title #{title} | LFP Sentiment Analytics

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/nouislider.min.css')
    link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed", rel="stylesheet")
    
    script(type="text/javascript" src="/javascripts/Chart.min.js")
    script(type="text/javascript" src="/javascripts/nouislider.min.js")
    script(type="text/javascript" src="/javascripts/jquery-3.3.1.min.js")

  body()
    #logoDiv
      img(src='/images/LFP_logo.png', id='LFPlogo')
    #main
      block content