extends layout

block content
  .section#filters
    .centredBody#filterContainer
      #filterBody
        p#dateNote *Can use the time-series date range slider to control dates
        p.filterLine 
          label Organisation
          |:
          select#orgList
          label Survey
          |:
          select#surveyList
          label Question
          |:
          select#questionList
        p.filterLine
          label Gender:
            select#gender             
          label Age:
            select#ageRange
              option(value='all') ALL
              option(value='ageunder18') Under 18
              option(value='age18_24') 18-24
              option(value='age25_34') 25-34
              option(value='age35_44') 35-44
              option(value='age45_54') 45-54
              option(value='age55_64') 55-64
              option(value='age65plus') 65+  
          label Employment Status: 
            select#employStatus       
          | &emsp;
          label Date Range
            | * &nbsp; 
            i Start:
            input(id="startDateBox" type="date" name="startDate")
          label 
            i End: 
            input(id="endDateBox" type="date" name="endDate")
      #filterButtons
        br
        br
        button#resetFilters(type="button") RESET FILTERS

  .section#aveSentiment
    .centredBody
      p#orgABNp Organisation ABN Hash: 
        span#orgABNhash=orgABNhash
      h1 SENTIMENT ANALYTICS
      h2 OVERALL SENTIMENTS OF RESPONSES

      p.centred 
        | Overall sentiment of each response is scored from 
        span(style="color:rgb(204, 69, 40)") -10 (extremely negative) 
        | to 
        span(style="color:rgb(52, 143, 104)") 10 (extremely positive)
        |. Data for these overall scores is visualised in the charts below.

      h3 Overall Sentiment Over Time
      p The following is a smoothed plot of the daily average overall sentiment for responses for the question selected, with the above filters applied. The lower graph shows the time series over all time for this survey; click into it or drag the handles to define the sub-range presented in the main graph above (this also changes the filter dates above). 

      .timeSeriesContainer#focusTimeSeriesCont
      .timeSeriesContainer#fullTimeSeriesCont
      #dateSlider    
      p#lastDate 
        | Most recent submission: 
        b 
          span#lastDateSpan
      p#firstDate 
        b
          span#firstDateSpan
        | : First submission

      #dialAndCompareChart
        #aveOverallSentiment
          h3 Overall Sentiment (averaged over selected time period)
          #dialColumn
            img#dialImg(src='/images/sentiment_dial.png', style='display:none')
            #dialCanvasContainer
            p.centred 
              b Ave. Score: 
              span#aveSentimentSpan
          #dialExplan
            p.centred [Explanatory text about the dial]
        #compareAveSentiment
          h3 How Your Sentiment Compares
          #compareAveSentContainer
          p.centred [Explanatory text about this chart]
  #histogramSection
      h3(style = "font-size: 20px") Sentiment Distribution
      p This histogram represents the distribution of all responses over their respective sentiment score. The higher the bar, the more responses with that particular affective magnitude. Click on the bars to explore the responses in verbatim.
  
      #histogramContainer
        #left
          #histogramByScoreContainer
        #right
         #selected-response
            #centered-text
            p.centred
              strong 
              span#responseScoreSpan 
            p
              | &emsp;
              | &emsp;
              | &emsp;
              span#responseIndex
              span#totalResponse  
              | &emsp;
              | &emsp;
              | &emsp;
              
              span(style='font-size:14px;')#responseDateSpan 
            p#responseText
            
            
  .section#summary
    .centredBody
      h2 RESPONSE STATISTICS
      table
        tr
          th Response Count
          th % Completed*
          th Ave. Character Count
          th Max. Character Count
        tr
          td#numResponses
          td#percentCompleted
          td#aveCharCount
          td#maxCharCount
        tr
          td(align='center' colspan='4')
            span(style='font-size: 11pt;') * Percentage of surveys submitted that had a response entered for this question.              

  .section#EntityAnalytics
    .centredBody
      h2 KEYWORDS/ENTITIES IN RESPONSES
          
      p.centred
        b Display Mode:
        label.displayMode#topFreqLabel
          input(type="radio" class="dispModeRadio" name="dispModeRadio" value="topFreq" checked) 
          | Top Frequency Keywords 
        label.displayMode#mostPosLabel
          input(type="radio" class="dispModeRadio" name="dispModeRadio" value="mostPos") 
          | Most Positive Keywords
        label.displayMode#mostNegLabel
          input(type="radio" class="dispModeRadio" name="dispModeRadio" value="mostNeg") 
          | Most Negative Keywords
        label.displayMode#focusLabel
          input(type="radio" class="dispModeRadio" name="dispModeRadio" value="focus" id='focusRadio')
          | Keyword Focus
        input(type="text" list="fullEntityList" id="searchedEntity" size=15)
        datalist#fullEntityList
        button(type="button" id="entitySearchButton") GO

      #entityTableDiag
        #entityTable
          h3 Keyword Listing
          table#entityTable 
            col#etcol1
            col#etcol2
            col#etcol3
            col#etcol4
            thead
              tr
                th Rank
                th Keyword
                th
                  span#linkSpan
                  | Frequency
                th Average Sentiment Score
            tbody#entityTableBody
        #entityDiag
          h3 Keyword Linkage Diagram
          svg#entitySvg(width="800" height="800") 





