extends layout

block content
  .section#filters
    .centredBody#filterContainer
      #filterBody
        p.filterLine 
          label Organisation : 
            select#orgList
          label Survey :
            select#surveyList
          label Question :
            select#questionList
            | &emsp;
            span#numResponses
        p.filterLine
          label Gender:
            select#gender             
          label Age:
            select#ageRange
              option(value='all') ALL
              option(value='ageunder18') Under 18
              option(value='age18_24') 18-24
              option(value='age25_34') 25-34
              option(value='age35_44') 35-44
              option(value='age45_54') 45-54
              option(value='age55_64') 55-64
              option(value='age65plus') 65+  
          label Employment Status: 
            select#employStatus       
          label Date Range: 
            input(id="startDateBox" type="date" name="startDate") 
            | to
            input(id="endDateBox" type="date" name="endDate")
        p.filterLine#tooFewResponsesP
          label#tooFewResponses
      #filterButtons
        br
        br
        button#resetFilters(type="button") RESET FILTERS

  .section#aveSentiment
    .centredBody
      h1 WORKER SENTIMENTS

      p Understand what matters most to your people and purpose. These sentiment analytics instantly summarise your workers’ own words and feelings in response to the selected question. Discover the phenomena raised most frequently, the tone, the associations, and change over time. So you can identify and address the trends, issues, and opportunities that matter for impact.

      #dialAndTimeSeries
        #dialPanel
          img#dialImg(src='/images/sentiment_dial.png', style='display:none')
          #dialCanvasContainer
          p.centred 
            span#aveSentimentSpan
          p 
            | Our artificial intelligence isolates meaningful phrases from natural language text, understands the affective polarity and assigns an overall sentiment score: 
            span(style="color:rgb(204, 69, 40)") -10 (very negative) 
            | to 
            span(style="color:rgb(52, 143, 104)") +10 (very positive) 
            | to each response. 
          p The time series shows how the weekly average score changed over time, whereas the dial shows the overall average for the whole time period.
        #timeSeriesPanel
          .timeSeriesContainer#focusTimeSeriesCont
          .timeSeriesContainer#fullTimeSeriesCont
          #dateSliderContainer
          #dateSlider    
          p#lastDate 
            | Most recent submission: 
            b 
              span#lastDateSpan
          p#firstDate 
            b
              span#firstDateSpan
            | : First submission

  .section#histogram
    .centredBody
      h1 SENTIMENT DISTRIBUTION
      p This histogram represents the distribution of all responses over their respective sentiment score. The higher the bar, the more responses with that particular affective magnitude. Click on the bars to explore the responses in verbatim.
  
      #histogramContainer
        #left
          #histogramByScoreContainer
        #right
          #responseMetadata
            p#responseIndex
            p#responseDate  
          p#responseText   

  .section#EntityAnalytics
    .centredBody
      h1 KEYWORDS &amp; CONNECTIONS

      p Explore the dominant keywords and their associations as mentioned by your workers. The table and graph organise the most frequent or most strongly affective words, their relative importance, average sentiment, and the strength of pairwise relationships. Click on a keyword circle or search for a keyword (and press Enter) to view the keywords most strongly linked to it.
          
      p.centred
        b Display Mode:
        label.displayMode#topFreqLabel
          input(type="radio" class="dispModeRadio" name="dispModeRadio" value="topFreq" checked) 
          | Most Frequent Keywords 
        label.displayMode#mostPosLabel
          input(type="radio" class="dispModeRadio" name="dispModeRadio" value="mostPos") 
          | Most Positive Keywords
        label.displayMode#mostNegLabel
          input(type="radio" class="dispModeRadio" name="dispModeRadio" value="mostNeg") 
          | Most Negative Keywords
        label.displayMode#focusLabel
          input(type="radio" class="dispModeRadio" name="dispModeRadio" value="focus" id='focusRadio')
          | Keyword Focus
        input(type="text" list="fullEntityList" id="searchedEntity" size=15)
        datalist#fullEntityList

      #entityTableDiag
        #entityTable
          table#entityTable 
            col#etcol1
            col#etcol2
            col#etcol3
            thead
              tr
                th#keywordHead Keyword
                th Frequency
                th Sentiment Score
            tbody#entityTableBody
        #entityDiag
          svg#entitySvg(width="800" height="800") 





